.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center; /* align form item to center */
  justify-content: center; /* justify content to center */
}

.form input {
  width: 300px;
  height: 60px;
  margin: 10px;
  font-size: 20px;
}
